# Ignore all contents of keys directory
keys/*
!keys/*.template
!keys/.gitkeep

# Ignore sites enabled on server, only contain sites available
nginx/sites-enabled/**

# Ignore static files, hosted projects should be externally managed
nginx/www/**

# Local testing python file
test.py

# Python bytecode cache
__pycache__/
*.pyc
